<div class="table-responsive">
  <table
    class="table table-bordered mt-3 rounded"
    [ngClass]="darkMode ? 'table-dark' : ''"
  >
    <thead [ngClass]="darkMode ? 'table-dark' : 'table-light'">
      <tr>
        <th>Estado</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha Limite</th>
        <th>Prioridad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>
          <input
            class="form-check-input border border-dark"
            type="checkbox"
            [checked]="task.status === statusEnum.COMPLETED"
            (change)="onToggle(task)"
          />
        </td>
        <td
          style="max-width: 300px; word-wrap: break-word; white-space: pre-wrap"
        >
          {{ task.title }}
        </td>
        <td
          style="max-width: 300px; word-wrap: break-word; white-space: pre-wrap"
        >
          {{ task.description }}
        </td>
        <td>{{ task.dueDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ priorityLabels[task.priority] }}</td>
        <td>
          <button
            class="btn btn-sm btn-outline-primary me-1"
            (click)="onEdit(task)"
            title="Editar"
          >
            <i class="bi bi-pencil"></i>
          </button>

          <button
            class="btn btn-sm btn-outline-danger"
            (click)="onDelete(task.id)"
            title="Borrar"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
